%header{role: "banner"}
  .header-inner
    .header-global
      %nav
        %ul
          %li
            %a{href: "./index.html#section-detail"}
              Detail
          %li
            %a{href: "./index.html#section-time-table"}
              Time Table
          %li
            %a{href: "./index.html#section-speaker"}
              Speaker
          %li
            %a{href: "./index.html#section-lt"}
              LT
          %li
            %a{href: "./index.html#section-team"}
              Team
    .kv-box
      .kv-text
        %h1
          %object{data: "./assets/img/logo.png", object: "", style: "pointer-events: none;"}
        %h2
          Thursday, July 31 at 7:00pm (6:30pm door open)
